body{

 text-align:center;
 
		font-size: 14pt;
		background-attachment: fixed;

}
.t{
background:
color:white;
font-family:Arial;font-weight:bold;font-size: 25px;




}
#footing{
width:100%; height:25px; background-color:#CC9900;
margin-top:180px;margin-bottom:;padding 0px;font-size:18px
}